<div class="container mx-5">
    <h1 class="text-center">Register</h1>
    <form [formGroup]="registerForm" (ngSubmit)="register_submit()">
        <div class="row mt-5">
            <div class="col-lg-5">
                <label for="" class="form-label">Email</label>
                <input type="email" [ngClass]="{'border border-danger':registerForm.controls.email.touched&&registerForm.controls.email.invalid,
                'border border-success':registerForm.controls.email.valid}" class="form-control"
                    formControlName="email">
                <span style="color:red"
                    *ngIf="registerForm.controls.email.touched&&registerForm.controls.email.invalid">Please enter valid
                    email</span>
            </div>
            <div class="col-lg-5">
                <label for="" class="form-label">DateofBirth</label>
                <input type="date" [ngClass]="{'border border-danger':registerForm.controls.dob.touched&&registerForm.controls.dob.invalid,
                'border border-success':registerForm.controls.dob.valid}" class="form-control" formControlName="dob">
                <p style="color:red" *ngIf="registerForm.controls.dob.touched&&registerForm.controls.dob.invalid">Please
                    enter
                    valid dob</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-5">
                <label for="" class="form-label">Password</label>
                <input type="password" class="form-control" [ngClass]="{'border border-danger':registerForm.controls.password.touched&&registerForm.controls.password.invalid,
                'border border-success':registerForm.controls.password.valid}" formControlName="password">
                <p style="color:red"
                    *ngIf="registerForm.controls.password.touched&&registerForm.controls.password.invalid">Please enter
                    valid password</p>
            </div>
            <div class="col-md-5">
                <label for="" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id=""
                    [ngClass]="{'border border-danger':(registerForm.controls.cpassword.touched&&registerForm.controls.cpassword.invalid)||registerForm.value['cpassword']!=registerForm.value['password']||(registerForm.controls.cpassword.touched&&registerForm.value['cpassword']==0),
                'border border-success':registerForm.controls.password.valid&&registerForm.value['cpassword']==registerForm.value['password']}"
                formControlName="cpassword">

                <p style="color:red"
                    *ngIf="(registerForm.controls.cpassword.touched&&registerForm.controls.cpassword.invalid)||registerForm.value['cpassword']!=registerForm.value['password']||(registerForm.controls.cpassword.touched&&registerForm.value['cpassword']==0)">
                    Password doesn't match
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <input type="submit" class="btn btn-primary" value="Register">
            </div>
        </div>
    </form>

</div>